<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Forgot Password</title>

    <link rel="stylesheet" href="{% static 'g1app/css/auth.css' %}">
    <style>
        .auth-bg {
    background: url("{% static 'g1app/images/back_signIn_regstr.png' %}") center/cover no-repeat;
}
    </style>
</head>
<body class="auth-bg">

<div class="auth-container">
    <div class="auth-card">
        <h2 class="auth-title">Forgot Password</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>

            <button type="submit" class="auth-btn">Send Reset Link</button>

            <p class="switch-link">
                Back to <a href="{% url 'Register_signIn' %}">Sign In</a>
            </p>
        </form>
    </div>
</div>

</body>
</html>
